@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grocery List Web</h1>
    <p>Use this platform to store your shopping list, Add, edit and remove shopping Item names from the database</p>
</div>
